body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: lightgray;
  background-image: linear-gradient(120deg, #010066 3%, #ffcc00 50%, #cc0001 97%);
  
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  flex-grow: 1;
  display: flex;
  align-items: center;  /* Center map vertically */
  justify-content: center;  /* Center map horizontally */
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}